<ul data-role="listview" class="info-outer">
	<div class="navbar-title3 top-curve"><h2>{{ lang('headers.info') }}</h2></div>
	<li>
		<a href="/info/gtc.html">{{ lang('info.gtc') }}</a>
	</li>
	<li>
		<a href="/info/imprint.html">{{ lang('info.imprint') }}</a>
	</li>
	<li class="bottom-curve">
		<a href="/info/contact.html">{{ lang('info.contact') }}</a>
	</li>
</ul>