<div id="message" class="message-pending">
    <div class="back-wrapper">
        <a class="back" href="/profile/"><span>{{ lang('global.back') }}</span></a>
    </div>
    <div class="message">
        <h1>PENDING</h1>
        <p>Your transfer is pending...</p>
        <h1>{{ lang('payments.pending.title') }}</h1>
        <p>{{ lang('payments.pending.message') }}</p>
    </div>
</div>