<div id="message" class="pending-container">
	<div class="pending-container-image">
		{{ asset_img('mobile/wait_img.png')}}
	</div>
    <div class="pending-message">
    	<div class="pending-message-header">Pending</div>
    	<div class="pending-message-body">Your transfer is pending...</div>
    </div>
</div>