<div id="message" class="message-success">
    <div class="back-wrapper">
        <a class="back" href="/profile/"><span>{{ lang('global.back') }}</span></a>
    </div>
    <div class="message">
        <h1>{{ lang('payments.success.title') }}</h1>
        <p>{{ lang('payments.success.message') }}</p>
    </div>
</div>