<div class="sports-content">
    <ul data-role="listview">
        <li>
            <a href="/profile/overview.html"  data-dom-cache="true">
                <h1 class="sports-title profile-line-title"><span class="header-line-dot">&nbsp;</span>Overview</h1>
            </a>
        </li>
        <li>
            <a href="/profile/transactions.html"  data-dom-cache="true">
                <h1 class="sports-title profile-line-title"><span class="header-line-dot">&nbsp;</span>Transactions</h1>
            </a>
        </li>
        <li>
            <a href="/profile/details.html"  data-dom-cache="true">
                <h1 class="sports-title profile-line-title"><span class="header-line-dot">&nbsp;</span>Details</h1>
            </a>
        </li>
        <li>
            <a href="/profile/logout.html"  data-dom-cache="true">
                <h1 class="sports-title profile-line-title"><span class="header-line-dot">&nbsp;</span>{{ lang('profile.logout') }}</h1>
            </a>
        </li>
    </ul>   
</div>