{% if external.facebook %}
    <a href="https://facebook.com/{{ external.facebook }}" class="fb-square" target="_blank"><i class="fa fa-facebook-square"></i></a>
{% endif %}
{% if external.gplus %}
    <a href="#" class="gp-square" target="_blank"><i class="fa fa-google-plus-square"></i></a>
{% endif %}
{% if external.twitter %}
    <a href="#" class="tw-square" target="_blank"><i class="fa fa-twitter-square"></i></a>
{% endif %}